aiohttp==3.8.5
aiosignal==1.3.1
annotated-types==0.5.0
apturl==0.5.2
argcomplete==3.1.2
asttokens==2.4.0
async-timeout==4.0.3
attrs==23.1.0
backcall==0.2.0
bcrypt==3.2.0
blinker==1.4
blis==0.7.11
Brlapi==0.8.3
build==0.10.0
CacheControl==0.13.1
catalogue==2.0.10
certifi==2020.6.20
cffi==1.16.0
chardet==4.0.0
charset-normalizer==3.2.0
chrome-gnome-shell==0.0.0
cleo==2.0.1
click==8.0.3
cloudpathlib==0.15.1
cmake==3.27.5
colorama==0.4.4
comm==0.1.4
command-not-found==0.3
confection==0.1.3
crashtest==0.4.1
cryptography==41.0.4
cupshelpers==1.0
cymem==2.0.8
dataclasses-json==0.5.14
dbus-python==1.2.18
debugpy==1.6.7.post1
decorator==5.1.1
defer==1.0.6
distlib==0.3.7
distro==1.7.0
distro-info==1.1+ubuntu0.1
docker==5.0.3
docker-compose==1.29.2
dockerpty==0.4.1
docopt==0.6.2
docx2txt==0.8
dulwich==0.21.6
duplicity==0.8.21
exceptiongroup==1.1.3
executing==1.2.0
fasteners==0.14.1
filelock==3.12.4
frozenlist==1.4.0
fsspec==2023.9.1
future==0.18.2
greenlet==2.0.2
httplib2==0.20.2
huggingface-hub==0.17.2
idna==3.3
importlib-metadata==6.8.0
influxdb==5.3.1
influxdb-client==1.37.0
influxdb3-python==0.2.1
installer==0.7.0
ipykernel==6.25.2
ipython==8.15.0
jaraco.classes==3.3.0
jedi==0.19.0
jeepney==0.7.1
Jinja2==3.1.2
joblib==1.3.2
jsonschema==4.17.3
jupyter_client==8.3.1
jupyter_core==5.3.1
keyring==24.2.0
langchain==0.0.295
langcodes==3.3.0
langsmith==0.0.38
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
lit==16.0.6
lockfile==0.12.2
louis==3.20.0
macaroonbakery==1.3.1
Mako==1.1.3
MarkupSafe==2.0.1
marshmallow==3.20.1
matplotlib-inline==0.1.6
monotonic==1.6
more-itertools==8.10.0
mpmath==1.3.0
msgpack==1.0.5
multidict==6.0.4
murmurhash==1.0.10
mypy-extensions==1.0.0
nest-asyncio==1.5.7
netifaces==0.11.0
networkx==3.1
nltk==3.8.1
numexpr==2.8.6
numpy==1.25.2
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.2.0
olefile==0.46
packaging==23.1
pandas==2.1.0
paramiko==2.9.3
parso==0.8.3
pathy==0.10.2
pdfminer.six==20221105
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
pipx==1.2.0
pkginfo==1.9.6
platformdirs==3.10.0
poetry-core==1.7.0
poetry-plugin-export==1.5.0
preshed==3.0.9
prompt-toolkit==3.0.39
protobuf==3.12.4
psutil==5.9.5
psycopg2==2.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==13.0.0
pycairo==1.20.1
pycparser==2.21
pycryptodome==3.19.0
pycups==2.0.1
pydantic==2.3.0
pydantic_core==2.6.3
Pygments==2.16.1
PyGObject==3.42.1
PyJWT==2.3.0
pymacaroons==0.13.0
PyNaCl==1.5.0
pyparsing==2.4.7
pyproject_hooks==1.0.0
pyresparser==1.0.6
pyRFC3339==1.1
pyrsistent==0.19.3
python-apt==2.4.0+ubuntu2
python-dateutil==2.8.2
python-debian==0.1.43+ubuntu1.1
python-dotenv==1.0.0
pytz==2022.1
pyxdg==0.27
PyYAML==5.4.1
pyzmq==25.1.1
rapidfuzz==2.15.1
reactivex==4.0.4
regex==2023.8.8
reportlab==3.6.8
requests==2.31.0
safetensors==0.3.3
scikit-learn==1.3.0
scipy==1.11.2
SecretStorage==3.3.1
sentence-transformers==2.2.2
sentencepiece==0.1.99
shellingham==1.5.3
six==1.16.0
smart-open==6.4.0
sortedcontainers==2.4.0
spacy==3.7.1
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.21
srsly==2.4.8
stack-data==0.6.2
sympy==1.12
systemd-python==234
tenacity==8.2.3
texttable==1.6.4
thinc==8.2.1
threadpoolctl==3.2.0
tokenizers==0.13.3
tomli==2.0.1
tomlkit==0.12.1
torch==2.0.1
torchvision==0.15.2
tornado==6.3.3
tqdm==4.66.1
traitlets==5.9.0
transformers==4.33.2
triton==2.0.0
trove-classifiers==2023.9.19
typer==0.9.0
typing-inspect==0.9.0
typing_extensions==4.7.1
tzdata==2023.3
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
ufw==0.36.1
unattended-upgrades==0.1
urllib3==1.26.5
usb-creator==0.3.7
userpath==1.9.1
virtualenv==20.24.5
wadllib==1.3.6
wasabi==1.1.2
wcwidth==0.2.6
weasel==0.3.2
websocket-client==1.2.3
xdg==5
xkit==0.0.0
yarl==1.9.2
zipp==1.0.0
